# Object files
obj

# Executable files
## cpp00
megaphone
phonebook
create_log
## cpp01
zombie
zombiehorde
brain
violence
replace
harl
harlFilter
## cpp02
fixed
## cpp03
claptrap
## cpp04
animal
materia
## cpp05
bureaucrat
## cpp06
scalar

# Debug files
.vscode

# Results
*.replace
*_shrubbery
