# Object files
obj

# Executable files
# cpp00
megaphone
phonebook
create_log
# cpp01
zombie
zombiehorde
brain
violence
replace
harl
harlFilter
#cpp02
bitman

# Debug files
.vscode

# Results
*.replace
